html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.header {
  display: flex;
  justify-content: left ;
  align-items: center;
  height: 80px;
  /* border: 1.5px solid #000; */
  padding: 0 50px;
  background-color: #ccc;
}

.menu {
  display: flex;
  margin: 0 50px;
  font-size: 22px;
}

.menu a:first-child {
  margin-right: 25px;
}

.logo {
  font-weight: 700;
  font-size: 40px;
}

.season {
  margin: 0 50px;
}

.anime-season-name {
  margin: 0 10px;
  width: 202px;
  text-align: center;
}

.anime-season-menu {
  display: flex;
  align-items: center;
  justify-content: left;
}

.img {
  cursor: pointer;
  display: flex;
}


.anime-item {
  background-color: #EEEEEE 	;
  margin: 5px 10px;
}

.anime-title-name {
  width: 100%;
  font-size: 20px;
  color: #000;
  font-weight: 700;
}


.scrollpanel-demo .p-scrollpanel p {
  padding: .5rem;
  line-height: 1.5;
  margin: 0;
}

.scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-wrapper {
  border-right: 10px solid var(--surface-b);
}

.scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-bar {
  background-color: var(--primary-color);
  opacity: 1;
  transition: background-color .2s;
}

.scrollpanel-demo .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
  background-color: #007ad9;
}

.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-wrapper {
  border-right: 10px solid var(--surface-b);
  border-bottom: 10px solid var(--surface-b);
}

.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-bar {
  background-color: var(--surface-d);
  border-radius: 0;
  opacity: 1;
  transition: background-color .2s;
}

.scrollpanel-demo .col-12 {
  padding: 2rem;
}

.search {
  margin: 25px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrapper {
  margin: 0 50px;
}


/* Details page */

.anime-detail {
  margin: 50px 50px 0;
}

.img-detail {
  /* width: 300px; */
  /* height: 300px; */
  border-radius: 8px;
}

.rating {
  margin: 20px 0;
}

.rating p {
  font-size: 20px;
}

.rating-point {
  display: block;
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
}

.anime-link  p {
  font-size: 20px;
  margin-bottom: 10px;
}

.anime-link span {
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.anime-detail-name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.anime-detail-english-name {
  font-size: 35px;
}

.anime-desc {
  border-top: 1px solid #000;
}

.anime-info-table {
  border: 1.5px solid #000;
  font-size: 20px;
}

